label {
  // font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}

input {
  border-color: #eee;
}

.form-card {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.form-group {
  margin-bottom: 1rem;
}
